*{
	margin: 0px 0px 0px 0px;
	font-family: arial;
}
h1{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}
.wrap{
border: 20px solid black;
height: 1000px;
width: 	1000px;
margin: 0 auto;
/*border: 1px solid black;*/

}

.chess{
	
	height:100px;
	width: 	100px;
}

.white{
	background:white;
	border:1px solid black;
	box-sizing:border-box;
}


.black{
	background: #808080;
	border:1px solid black;
	box-sizing:border-box;
}

.col-1{
	float: 	left;
}

.col-2{
	float: 	left;
}

.grey{
	font-size: 45px;
	text-align: center;
	padding-top: 23px;
	background: white;
	/*border:1px solid black;*/
	box-sizing:border-box;
}

img{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	padding-left: 6px;
}
#white_chess{
	height: 100px;
	padding-left: 1px;
}
